<html>
    <head>
        <title>
        </title>
     </head>
    
     <body>
        <h1>Quiz</h1>
            <a href='/registration'>Start</a>
        </h1>
        <ul>
            <% for(i in answeres){ %>
                <li>
                    <%= answeres[i] %>
                </li>        
            <% } %>
        </ul> 
        <h2>
            <a href='/guess?id=<%= userID %>'> adress </a>
        </h2>
     </body>
</html>

