<html>
    <head>
        <title></title>
    </head>

    <body>
        <div id='container'>
            <div id='question'>
                <%= question %>
            </div>
            <button id='btn_true'>wahr</div>
            <button id='btn_false'>falsch</div>
        </div>
        
        <script src='quiz.js'></script>
    </body>
</html>
