<html>
    <head>
        <title></title>
    </head>

    <body>
        <form method='post' action='/registration'>
            <input type='text' name='name'> 
            <input type='submit' value='start'>
        </form>
    </body>
</html>
